body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3494E6, #EC6EAD);
    font-family: Arial, sans-serif;
}

.video-frame {
    width: 100%;
    /* Make the video frame responsive */
    max-width: 560px;
    /* Set a maximum width for larger screens */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    animation: fadeIn 1s;
    overflow: hidden;
}

.video-text {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    color: #555;
}

.love-poem {
    font-size: 16px;
    color: #777;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 360px) {
    .video-frame {
        max-width: 100%;
    }
}